<!--Main Menu, some Quick and Dirty styles -->
<nav style="height: 60px; background-color:  lightgoldenrodyellow; font-weight: bold; line-height: 60px;padding: 10px;">
	<a routerLink="bootstrap">Bootstrap Design</a> |
	<a routerLink="material">Material Design</a>
</nav>
<!--Router Outlet-->
<router-outlet></router-outlet>

<!--Footer -->
<hr>
<p class="text-center small">
	(C) Peter Kassenaar - <a href="mailto:info@kassenaar.com">info@kassenaar.com</a> <br>
	Source code: <a href="https://github.com/PeterKassenaar/vat-calculator">https://github.com/PeterKassenaar/vat-calculator</a>
</p>